// Cores do Projeto

$color-primary: rgb(76, 99, 233);
$color-primary-light: #00b4cc;
$color-success: green;
$color-success-light: green;
$color-dark: #343838;
$color-danger: #fb0a32;
$color-warning: 'rgb(255, 130, 0)';

// Definições Globais
