@import url('../icons/css/boxicons.min.css');

:root {
    --color-background-body: rgba(230, 230, 230, 0.692);
    --color-background-read: rgb(220, 220, 221);
    --color-background-white: #fff;
    --color-background-purple: #4d40ff;
    --color-background-blue: #008c9e;
    --color-background-green: #3bb574fb;
    --color-background-red: rgb(218, 33, 33);
    --color-blue: #008c9e;
    --color-green: #3bb573;
    --color-red: rgb(218, 33, 33);
    --color-shadow-big: '';
    --color-shadow: '';
    --color-text: #2c3e50;
    --color-white: #fff;
    --color-dark: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background-body: rgba(22, 22, 22, 0.9);
        --color-background-read: rgba(31, 31, 31, 0.534);
        --color-background-white: rgb(31, 31, 31);
        --color-background-purple: #4d40ff;
        --color-background-blue: #33e7ff;
        --color-background-green: #3bb574fb;
        --color-background-red: rgb(218, 33, 33);
        --color-blue: #33e7ff;
        --color-green: #3bb573;
        --color-red: rgb(218, 33, 33);
        --color-shadow-big: '';
        --color-shadow: '';
        --color-text: #fff;
        --color-white: #fff;
        --color-dark: rgb(31, 31, 31);
    }
    .vc-container {
        --white: rgb(31, 31, 31);
        --black: #fff;
        --gray-100: #f7fafc;
        --gray-200: #edf2f7;
        --gray-300: #e2e8f0;
        --gray-400: #cbd5e0;
        --gray-500: #b9b9b9;
        --gray-600: #cacaca;
        --gray-700: #b9b9b9;
        --gray-800: #d6d6d6;
        --gray-900: #ffffff;
        --red-100: #fff5f5;
        --red-200: #fed7d7;
        --red-300: #feb2b2;
        --red-400: #fc8181;
        --red-500: #f56565;
        --red-600: #e53e3e;
        --red-700: #c53030;
        --red-800: #9b2c2c;
        --red-900: #742a2a;
        --orange-100: #fffaf0;
        --orange-200: #feebc8;
        --orange-300: #fbd38d;
        --orange-400: #f6ad55;
        --orange-500: #ed8936;
        --orange-600: #dd6b20;
        --orange-700: #c05621;
        --orange-800: #9c4221;
        --orange-900: #7b341e;
        --yellow-100: ivory;
        --yellow-200: #fefcbf;
        --yellow-300: #faf089;
        --yellow-400: #f6e05e;
        --yellow-500: #ecc94b;
        --yellow-600: #d69e2e;
        --yellow-700: #b7791f;
        --yellow-800: #975a16;
        --yellow-900: #744210;
        --green-100: #f0fff4;
        --green-200: #c6f6d5;
        --green-300: #9ae6b4;
        --green-400: #68d391;
        --green-500: #48bb78;
        --green-600: #38a169;
        --green-700: #2f855a;
        --green-800: #276749;
        --green-900: #22543d;
        --teal-100: #e6fffa;
        --teal-200: #b2f5ea;
        --teal-300: #81e6d9;
    }
}

.dark-mode:root {
    --color-background-body: rgba(22, 22, 22, 0.9);
    --color-background-read: rgba(31, 31, 31, 0.534);
    --color-background-white: rgb(31, 31, 31);
    --color-background-purple: #4d40ff;
    --color-background-blue: #33e7ff;
    --color-background-green: #3bb574fb;
    --color-background-red: rgb(218, 33, 33);
    --color-blue: #33e7ff;
    --color-green: #3bb573;
    --color-red: rgb(218, 33, 33);
    --color-shadow-big: '';
    --color-shadow: '';
    --color-text: #fff;
    --color-white: #fff;
    --color-dark: rgb(31, 31, 31);
}

body {
    background-color: var(--color-background-body) !important;
    text-align: center !important;
}

.dark-mode .vc-container {
    --white: rgb(31, 31, 31);
    --black: #fff;
    --gray-100: #f7fafc;
    --gray-200: #edf2f7;
    --gray-300: #e2e8f0;
    --gray-400: #cbd5e0;
    --gray-500: #b9b9b9;
    --gray-600: #cacaca;
    --gray-700: #b9b9b9;
    --gray-800: #d6d6d6;
    --gray-900: #ffffff;
    --red-100: #fff5f5;
    --red-200: #fed7d7;
    --red-300: #feb2b2;
    --red-400: #fc8181;
    --red-500: #f56565;
    --red-600: #e53e3e;
    --red-700: #c53030;
    --red-800: #9b2c2c;
    --red-900: #742a2a;
    --orange-100: #fffaf0;
    --orange-200: #feebc8;
    --orange-300: #fbd38d;
    --orange-400: #f6ad55;
    --orange-500: #ed8936;
    --orange-600: #dd6b20;
    --orange-700: #c05621;
    --orange-800: #9c4221;
    --orange-900: #7b341e;
    --yellow-100: ivory;
    --yellow-200: #fefcbf;
    --yellow-300: #faf089;
    --yellow-400: #f6e05e;
    --yellow-500: #ecc94b;
    --yellow-600: #d69e2e;
    --yellow-700: #b7791f;
    --yellow-800: #975a16;
    --yellow-900: #744210;
    --green-100: #f0fff4;
    --green-200: #c6f6d5;
    --green-300: #9ae6b4;
    --green-400: #68d391;
    --green-500: #48bb78;
    --green-600: #38a169;
    --green-700: #2f855a;
    --green-800: #276749;
    --green-900: #22543d;
    --teal-100: #e6fffa;
    --teal-200: #b2f5ea;
    --teal-300: #81e6d9;
}

$color-primary: rgb(76, 99, 233);
$color-primary-light: #00b4cc;
$color-success: green;
$color-success-light: green;
$color-dark: #343838;
$color-danger: #fb0a32;
$color-warning: 'rgb(255, 130, 0)';
