// Cores do Projeto

$color-primary: #008c9e;
$color-primary-light: #00b4cc;
$color-success: green;
$color-success-light: green;
$color-dark: #343838;
$color-danger: #FB0A32;
$color-warning: 'rgb(255, 130, 0)';


// Definições Globais
